[submodule "ios/common"]
	path = ios/common
	url = https://github.com/riksof-anas/background-geolocation-ios.git
[submodule "android/common"]
	path = ios/common
	url = https://github.com/Riksof-awais/background-geolocation-android.git
